<li>
  <strong><%= post.user.email %></strong>

  <strong class="report">
  <% if user_signed_in? %>
      <% if !post.reported_ids.include?(current_user.id)%> 
        <%= link_to "Report ("+ post.reports_count.to_s + ")",report_post_path(post.id), class:"report-link" %>
      <% else %>
          Report (<%= post.reports_count%>)
      <% end %>
    <span class="favourite">
      <% if favourited?(post) %>
        <%= link_to "Remove Favourite", favourite_post_path(post.id), class: "favourite-link" %>
      <% else %>
        <%= link_to "Favourite", favourite_post_path(post.id), class: "favourite-link" %>
      <% end %>
    </span>
  <% end %>
  </strong>

  <span class="content"><%= post.content %></span>
  <span class="comment">
    <%= link_to 'Comment', post %>(<%= post.comments.count %>)
  </span>

  <span class="vote">
    <% if user_signed_in? && voted?(post) %>
      <%= link_to "VCL(" + post.voteup_ids.count.to_s + ")", vote_up_post_path(post.id),class: "vote-up "%>
      <%= link_to "Chem gio(" + post.votedown_ids.count.to_s + ")", vote_down_post_path(post.id),class: "vote-down "%>
    <% else %>
      VCL(<%= post.voteup_ids.count %>)
      Chem gio(<%= post.votedown_ids.count %>)
    <% end %>
  </span>

  <span class="modify">
    <% if current_user=(post.user) %>
      <%= link_to 'Edit', edit_post_path(post.id) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </span>
  </br>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>