<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p>
	<%= link_to "VCL", vote_up_post_path(@post) %>(<%= @post.voteup_ids.count %>)
	<%= link_to "Chem gio", vote_down_post_path(@post) %>(<%= @post.votedown_ids.count %>)
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> 


<ol class="comments">
	<% if @comments.count > 2 %>
		<%= link_to 'View all ' + @comments.count.to_s + ' comments', post_path(@post, :show => "all"), 
			class: "view-all-comments"  %>
	<% end %>
	<%= render @comments %>
</ol>	

<%= render 'comments/form' %>